.galleries__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.galleries__item {
  margin: 8px 1%;
  position: relative;
  /*overflow: hidden;*/
  img {
    height: 100%;
  }
}

.galleries__box {
  width: 100%;
  height: 80px;
  background-color: #fff;
  position: absolute;
  transition: .3s;
  transform: translateY(-0%)
}

.galleries__item:hover .galleries__box {
  transform: translateY(-100%);
}

.galleries__box-title {
  width: 100%;
  height: 80px;
  position: absolute;
  transition: opacity .2s, bottom .7s;
  bottom: -30px;
  left: -140px;
  opacity: 0;
  margin: 0;
  z-index: 1;
  h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    span {
      font-weight: 800;
    }
  }
}

.galleries__item:hover .galleries__box-title{
  bottom: -10px;
  opacity: 1;
}